
body {
    margin: 0;
    
}

 .App {
    background-color: rgb(22, 22, 146);
   
}

 .App-light {
    background-color: rgb(51, 159, 163);
}

.title {
   margin: auto;
   width: 50%;
   border: 3px solid green;
   padding: 10px;
   text-align: center;
}

.darkmodebutton {
    background-color: rgb(165, 165, 236);
    padding: 10px;
    margin: auto;
    display: flex;
    
    
}

.movie {
    margin: auto;
    width: 25%;
    border: 4px solid rgb(69, 62, 165);
    padding: 10px;
    text-align: center;

}

.movieButton {
    background-color: goldenrod;
    padding: 10px;
    margin: auto;
    margin-left: 10px;
    
}

.time {
    color: white;
    margin: auto;
    text-align: center;
}

.nav {
    /* background-color: cornsilk;
    color: white;
    text-align: center;
    display: flex;
    
    width: 25%;
    gap: 1rem;
    padding: 0 1rem; */
   
    /* background-color: cornsilk; */
    /* border-bottom: 4px solid black; */
  display: flex;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  justify-content: center;
  color:  white;
  
  transition: 0.1s; 
}

nav a:hover,
nav a:active {
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}

nav a.active {
  background-color: gray;
  color: white;
}

.addmovie {
    margin: auto;
    padding: 10px;
    text-align: center;
    
}

.label {
   
  margin: auto;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
  padding: 100px;
  
}

 .input {
    /* padding: 12px 20px;
    margin: 4px 0;
    width: 250px;
    display: flex;
    border: 2px solid rgb(15, 12, 12);
    border-radius: 4px;
    box-sizing: border-box; */

    height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
  
}

  .homepage {
    margin: auto;
    text-align: center;
    padding: 95px 0;
    font-size: 35px;
    
  }

  .homepage .favorite {
    color: red;
    
  }

  .homepage .awesome{
    color: deepskyblue;
  }

  .homepage .Movie {
    color: yellow;
  }

  .homepage .list {
    color: darkgreen;
  }



  /* 329px */