
body {
    background-color: rgb(86, 86, 153);
    
}

 .App {
    background-color: rgb(50, 50, 146);
}

 .App-light {
    background-color: rgb(214, 214, 235);
}

.title {
   margin: auto;
   width: 50%;
   border: 3px solid green;
   padding: 10px;
   text-align: center;
}

.darkmodebutton {
    background-color: rgb(165, 165, 236);
    padding: 10px;
    margin: auto;
   
    
}

.movie {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(15, 6, 131);
    padding: 10px;
    text-align: center;
}

.time {
    color: crimson;
    margin: auto;
    text-align: center;
}