
body {
    background-color: rgb(50, 50, 146);
    
}

.title {
   margin: auto;
   width: 50%;
   border: 3px solid green;
   padding: 10px;
   text-align: center;
}

.darkmode {
    background-color: rgb(165, 165, 236);
    padding: 10px;
    margin: auto;
    text-align: right;
    
}

.time {
    color: crimson;
    margin: auto;
    text-align: center;
}